* {
    text-align: center;
}

img {
    width: 100%;
}

header {
    margin-left: 10%;
    margin-right: 10%;
}
main {
    margin:20px 10% 0 10%;
    display: grid;
    grid-template-columns: repeat( 4, 1fr );
    grid-template-rows: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;
}

#search {
   padding: 10px 7em;
}







